<div class="container">
  <h2 class="display-3">Introduction</h2>
  <span
    >This Image Retrieval system helps you to understand the WHY? behind the
    images retrieved for a query image by providing supported textual and visual
    explanations</span
  >
  <p><span>How to use it?&nbsp;</span></p>
  <p><span>&rarr; Simple search</span></p>
  <ul>
    <li>
      <span
        >Select the dataset from the dropdown. We have selected two most
        familiar datasets which are CIFAR-10 and PASCAL VOC. Click on Begin to
        start searching.</span
      >
    </li>
    <li>
      <span
        >From the left panel, select any image as a query image and system will
        start looking for similar images.</span
      >
    </li>
  </ul>

  <p><span>&rarr; Downstream Search</span></p>
  <ul>
    <li>
      <span
        >If you want to use any retrieved image as a query image, then go ahead
        and select the image of your choice. The system will automatically
        retrieve results for this new query image</span
      >
    </li>
  </ul>

  <p><span>&rarr; All about Explanations</span></p>
  <ol>
    <li>
      <span
        >Click on the Explain button provided against each retrieved image. The
        dialog box will provide you textual as well as visual explanations for
        each retrieved result against every feature employed. You can also
        switch between each feature tab to get better understanding.</span
      >
    </li>
    <li>
      <span
        >The area where the query image selected is shown, a global textual
        explanation is generated to overall explain the reasons for the
        retrieved results.</span
      >
    </li>
    <li>
      <span
        >To compare retrieved images with each other, select the checkbox and
        click on &lsquo;Click to compare&rsquo;. The dialog box visualises
        feature comparison for each selected image.</span
      >
    </li>
    <li>
      <span
        >Next to each retrieved image, we provide an explanation in terms of
        horizontal bars which tells you the similarity value with the query for
        every feature on hover over the names of the features.</span
      >
    </li>
  </ol>

  <p><span>&rarr; Explore the system&nbsp;</span></p>
  <ol>
    <li>
      <span
        >To have a look at more images please navigate between pages by clicking
        on the page navigation bar provided on upper right corner above
        retrieved images</span
      >
    </li>
    <li>
      <span
        >You can also increase/decrease the number of retrieved images shown on
        the current page by changing the value in &lsquo;Items per page&rsquo;
        next to the page navigation bar.</span
      >
    </li>
    <li>
      <span
        >To get images on the basis of individual feature only, please select
        the desired feature from the &lsquo;Rank by&rsquo; dropdown</span
      >
    </li>
  </ol>
</div>
