canvas {
  width: 60% !important;
  height: 40% !important;
}
.progress {
  margin-bottom: 2px;
  height: 0.9em;
}
.progress span {
  color: black;
}

.fab {
  width: 170px;
  height: 70px;
  border-radius: 25%;
  transition: all 0.1s ease-in-out;

  position: fixed;
  right: 50px;
  bottom: 400px;
}

.fab:hover {
  /* box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05); */
}

.showOnHover {
  background: #f2f2f2;
  padding: 2px;
  display: none;
}

.feature-name:hover > .showOnHover {
  display: inline;
}

.feature-name:hover > {
}

a.self-query:hover {
  text-decoration: none;
}
