<div>
  <div>
    <h2>Comparison with respect to Query</h2>
    <p>
      Below visuals illustrates the similarity of selected images to the query
      image for each feature
    </p>
    <div
      *ngFor="let p of pieCharts.slice(1); index as i"
      style="display: inline-block;"
    >
      <div class="chart">
        <h6 class="text-center">{{ features.slice(1)[i] }}</h6>
        <canvas
          baseChart
          [data]="p.pieChartData"
          [chartType]="p.pieChartType"
          [labels]="p.pieChartLabels"
          [options]="p.pieChartOptions"
          [plugins]="p.pieChartPlugins"
          [colors]="p.pieChartColors"
          [legend]="p.pieChartLegend"
        >
        </canvas>
        <hr />
      </div>
    </div>
  </div>
  <div></div>
</div>
