<mat-dialog-content class="mat-typography">
  <div class="mb-3">
    <div class="row">
      <div class="col-sm-2">
        <img class="" src="https://via.placeholder.com/150" alt="" /> <br />
        Query Image
      </div>
      <div class="col-sm-2">
        <img class="" src="https://via.placeholder.com/150" alt="" /><br />
        Result Image
      </div>
    </div>
    <br />
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group>
    <mat-tab *ngFor="let feature of features; index as i" label="{{ feature }}">
      <div *ngIf="hideSpinners[i]">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <span class="text-center text-danger">{{ errors[i] }}</span>
      <div *ngIf="explanations.length > 0 && explanations[i] != null">
        <h2>Explanation for {{ feature }}</h2>
        <div class="row">
          <div class="col-sm-6">
            <span *ngFor="let img of explanations[i].images" class="pl-5">
              <img
                width="250"
                height="250"
                [src]="'http://localhost:8000/media/cld_icons/' + img.url"
                [alt]="img.name"
              />
            </span>
          </div>
          <div class="col-sm-4">
            <ul>
              <li *ngFor="let text of explanations[i].text">
                {{ text }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close></button>
</mat-dialog-actions>
