<div class="container">
  <div style="margin: auto; width: 500px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <select
          (change)="changeDataset($event)"
          formControlName="dataset"
          name="dataset"
          id="dataset"
          class="form-control"
          required="required"
        >
          <option value="" disabled>Select Dataset</option>
          <option *ngFor="let d of datasets" [ngValue]="d.Id" [value]="d.Id">{{
            d.name
          }}</option>
        </select>
        <div class="input-group-append" id="btn4">
          <input
            [disabled]="selectedDataset == ''"
            type="submit"
            class="btn btn-primary"
            value="Begin"
          />
        </div>
      </div>
    </form>
    <span class="text-center text-danger">{{ error }}</span>
    <br />
    <p class="text-center font-weight-light">
      <a
        [routerLink]=""
        (click)="openHelpDialog()"
        routerLinkActive="active-link"
        style="color: darkblue !important;"
        >How to use?</a
      >
    </p>
  </div>
  <div style="margin: auto; width: 100px;">
    <mat-progress-spinner
      [hidden]="hideSpinner"
      mode="indeterminate"
      value="66"
      diameter="45"
    ></mat-progress-spinner>
  </div>
</div>
